/*---------------------------------------------------------
General Styling
---------------------------------------------------------*/

body {
	margin: 0;
	background-color: #242e34;
	color: white;
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #26A69A;
	font-weight: 300;
}

.button {
	height: 100%;
	padding: 0px 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	background-color: rgba(0,0,0,0);
	border: none;
	color: white;
	cursor: pointer;
}

.button:hover {
	background-color: #26A69A;
}

.button:focus {
	border: none;
    outline:none;
}

img {
	height: 36px;
	margin: 10px;
}

/*---------------------------------------------------------
CSS Grid
---------------------------------------------------------*/

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: 60px 1fr 60px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"header header"
		"main main"
		"footer footer";
}

.header {
	grid-area: header;
	background: #303b44;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3); 
}

.main {
	grid-area: main;
	padding: 0px 20px 20px 20px;
}

.footer {
	grid-area: footer;
	background: #303b44;
	text-align: center;
}